@{
    ViewData["Title"] = "Admin Panel";
}

<h2 class="text-center text-primary">@ViewData["Title"]</h2>

<a class="nav-link text-dark" asp-area="Administrator" asp-controller="User" asp-action="All">Users</a>
<a class="nav-link text-dark" asp-area="Administrator" asp-controller="Glasses" asp-action="Index">Glasses</a>
<a class="nav-link text-dark" asp-area="Administrator" asp-controller="Brand" asp-action="Index">Brands</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Comment" asp-action="AllComments">All Comments</a>
