@model IEnumerable<UserServiceModel>

<div class="col-12 row">
    @foreach (var user in Model)
    {
        <div class="card col-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
                @if (user.Role != null)
                {
                    <p class="card-text">@user.Role</p>
                }
            </div>
            <div class="card-text mb-2 ml-3 mr-3">
                @if (user.Role != AdministratorRoleName)
                {
                    <a asp-controller="User" asp-action="MakeAdmin" asp-route-id="@user.Id" class="btn btn-primary float-left">Make Administrator</a>
                }
                else
                {
                    if (this.User.Identity.Name != user.UserName)
                    {
                        <a asp-controller="User" asp-action="RevokeAdmin" asp-route-id="@user.Id" class="btn btn-danger float-right">Revoke Rights</a>
                    }
                    else
                    {
                        <span class="text-success">Current user</span>
                    }
                }
            </div>
        </div>
    }
</div>

